<h1>RECOMENDADOS</h1>
<div class="row">
    <div class="col-lg-2 col-md-4 col-sm-6">
        <div class="card">
            <img src="https://m.media-amazon.com/images/I/61+VG1-fLkL._AC_UF1000,1000_QL80_.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">The theory of everything</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">Stephen W. Hawking</h6>
                <p class="card-text">$00.000</p>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6">
        <div class="card">
            <img src="https://m.media-amazon.com/images/I/8196x-1wIOL._AC_UL400_.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Never Lie</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">Freida McFadden</h6>
                <p class="card-text">$00.000</p>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6">
        <div class="card">
            <img src="https://m.media-amazon.com/images/I/61z5u-7YZKL._AC_UL400_.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Withe Lies</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">Jeremy Bates</h6>
                <p class="card-text">$00.000</p>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6">
        <div class="card">
            <img src="https://m.media-amazon.com/images/I/61+VG1-fLkL._AC_UF1000,1000_QL80_.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">The theory of everything</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">Stephen W. Hawking</h6>
                <p class="card-text">$00.000</p>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6">
        <div class="card">
            <img src="https://m.media-amazon.com/images/I/61+VG1-fLkL._AC_UF1000,1000_QL80_.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">The theory of everything</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">Stephen W. Hawking</h6>
                <p class="card-text">$00.000</p>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6">
        <div class="card">
            <img src="https://m.media-amazon.com/images/I/61+VG1-fLkL._AC_UF1000,1000_QL80_.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">The theory of everything</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">Stephen W. Hawking</h6>
                <p class="card-text">$00.000</p>
            </div>
        </div>
    </div>
</div>
  