<div class="blue-container">
    <div class="row">
        <div class="col">
            <h1>Autor del mes: Stephen King</h1>
            <img src="https://media.revistagq.com/photos/61570a778052a49b36a0342f/4:3/w_2824,h_2118,c_limit/GettyImages-131859459%20(1).jpg"
                alt="Imagen" class="img-fluid">
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="card">
                <img src="https://m.media-amazon.com/images/I/41cUEL9636S._SY346_.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Salem´s Lot</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Stephen King</h6>
                    <p class="card-text">$00.000</p>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="card">
                <img src="https://m.media-amazon.com/images/I/416NdoYMfnL.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">The Shining</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Stephen King</h6>
                    <p class="card-text">$00.000</p>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="card">
                <img src="https://m.media-amazon.com/images/I/51ekoh0tVAL._SY346_.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">The theory of everything</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Stephen W. Hawking</h6>
                    <p class="card-text">$00.000</p>
                </div>
            </div>
        </div>
    </div>
</div>