<div class="container">
    <div class="form-box">
        <div class="image">
            <img src="./assets/Relax.jpg">
        </div>
        <div class="form-inside">
            <h1 class="text">Iniciar sesion</h1>
            <div class="icons-login">
                <img src="./assets/facebook01.png" class="img-link">
                <img src="./assets/gmail01.png" class="img-link">
                <img src="./assets/linkedin01.png" class="img-link">
            </div>
            <form class=" form" action="submit">
                <mat-form-field class="field">
                    <mat-label>Correo electronico</mat-label>
                    <input type="email" matInput>
                </mat-form-field>
                <br>
                <mat-form-field class="field">
                    <mat-label>Contrasena</mat-label>
                    <input type="password" matInput>
                </mat-form-field>
                <p><a href="#" class="pass-link">Olvidaste tu Contrasena?</a></p>
                <button type="submit" class="login-button" mat-raised-button color="primary">Iniciar sesion</button>
            </form>

        </div>

    </div>
</div>