<div class="mainfooter">
    <div class="footer">
        <div class="top">
            <h2>BookApp - Una pagina hecha para practicar Angular</h2>
            <p><a href="https://github.com/alejandrob8" style="color: white;">Sergio Alejandro Bedoya</a></p>
            <p><a href="https://github.com/camilozer0" style="color: white;">Andres Camilo Mazorra</a></p>
        </div>
        <div class="middle">
            <div class="info">
                <h3 class="title">Corporativo</h3>
                <p>Quienes somos</p>
                <p>condiciones legales</p>
            </div>
            <div class="info">
                <h3 class="title">Mas de bookApp</h3>
                <p>Entre lineas</p>
                <p>Angular Material legales</p>
            </div>
            <div class="info">
                <h3 class="title">Soporte</h3>
                <p>Preguntas frecuentes</p>
                <p>PQRS</p>
                <p>tratamiento de datos</p>
            </div>
            <div class="info">
                <h2>Metodos de pago</h2>
            </div>
        </div>
        <div class="bottom">
            <div class="leftbottom">
                <span>Siguenos en las redes</span>
                <img src="./assets/facebook.png" class="imgicon">
                <img src="./assets/twitter.png" class="imgicon">
                <img src="./assets/instagram.png" class="imgicon">
                <img src="./assets/youtube.png" class="imgicon">
            </div>
            <div class="rightbottom">
                <mat-icon class="mat-mr">copyright</mat-icon>
                <span class="mat-mr">BookApp Inc. - Todos los derechos reservados | Powered by</span>
                <mat-icon class=" mat-mr">invert_colors</mat-icon>
            </div>
        </div>
    </div>
</div>